<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qin Zan: Landscape Architecture{{#if section_title}} - {{section_title}}{{/if}}</title>
</head>

<body>
<ul id="nav_bar">
    <li><a href="/">HOME</a></li>
    <li><a href="/project">PROJECT</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
</ul>

    {{{body}}}

</body>
</html>