<h1>About me:</h1>

<div class="scrollable_content">
    <p>
        I am a Registered Landscape Architect in Hong Kong and have passed all LARE sessions but waiting for sitting
        in CSE to get registered in California. I have more than ten years of working experience in landscape design
        and project management on various types of project: from master planning to garden design, from commercial/
        institutional projects to private residential projects in both Asia and North American.
    </p>

    <p>
        I developed a strong interest in exterior space and plants in my childhood. My parents are botanists and
        worked in landscape department. They taught me a lot of plants when I was little. And they brought me to
        travel around to explore different landscape and culture.
    </p>

    <p>
        I started my study of Landscape Architecture in Beijing Forestry University from 2002 to 2006. Within those
        four years, I gained a solid foundation of Landscape Architectural training. After obtaining my Bachelor’s
        Degree, I worked as an Assistant Landscape Architect in Beijing. To pursue a deeper understanding of Landscape
        Architecture, I went to the University of Hong Kong for further study in 2007. Throughout two years of study,
        I learned many design principles and their application. Here I took advantage of many opportunities to develop
        my potential and mature professionally. After graduation, I began working in Hong Kong, and later in California.
    </p>

    <p>
        I earned my professional qualification in 2013 and became a Registered Landscape Architect in 2014. I worked
        on a variety of project types such as hotels, commercial projects, mixed use projects, and residential and
        infrastructural developments in Hong Kong and Mainland China. I also worked on high-end private gardens in
        Bay Area. My job duties include concept design and design development packages preparation, details design
        and construction drawings packages preparation, soft landscape design, project management and administration,
        government submission and liaison, client liaison, and coordination with other professionals.
    </p>

    <p>
        Over the years of practice, I developed a strong interest in everyday landscape and its impact on people’s
        lives. I love those places created with strong character and artful details.
    </p>
</div>


<div class="centered">
    <form method="get" action="/static/ZQ-CV2020.pdf">
   <button type="submit">Download My CV</button>
</form>


<div class="centered"><a href="https://www.linkedin.com/in/joyce-qin-zan-94761046/">My LinkedIn Page</a></div>