<div id="carousel">
    <img src="/static/CDV01.jpg"/>
    <img src="/static/GZV01.jpg"/>
    <img src="/static/WHC01.jpg"/>
    <img src="/static/URG01.jpg"/>
    <img src="/static/MLA01.jpg"/>
</div>

<script src="/static/carousel.js"></script>
<script type="application/javascript">
    makeCarousel("#carousel");
</script>

