<ul>
    <li>
        <p class="smallT">RESIDENTIAL DEVELOPMENT</p>
        <p class="bigT">CHENGDU LONGFOR TIMEWALK MOSAIC GARDEN</p>

        <p> Site Area: 3,000sqm
        <br/>
        Location: Chengdu, China
        <br/>
        Client: Chengdu Longfor
        </p>
        <p>
            My role in this project includes project coordination, construction drawings review and construction
            coordination.
            <br/>
            The design for Chengdu Longfor Walktime envisions a contemporary mix of lifestyles, where an assemblage
            of intimate gardens, public space, and commercial streetscapes intertwine to create a rich and dynamic
            living community. Beyond diversified programs and activities, the “MOSAIC OF LIFESTYLES” concept also
            inspired the physical geometries and forms that are carried throughout the project’s details. Within
            this mixed-use development is a residential garden that is organized by a looping pathway. While the
            circuit observes fire lane requirements, it guides residents towards amenities such as exercise rooms,
            a children’s playground, water features, and garden pavilion. An enriched and diverse planting palette
            adds multi-seasonal interest and whimsical shifts in colors, aromas, and textures.
            <br/>
            Considering the positioning and budget of the project, we carefully designed it to create the richness
            of spaces with less big trees and less plants layers, enhanced the quality, and created value to customers
            and tenants. Through positive communication and with support from our client, this project is a rare and
            innovative practice in the “design style” led environment in China now.
        </p>
    </li>
    <br/>
    <li>
        <p class="smallT">MIXED-USE DEVELOPMENT</p>
        <p class="bigT">VANKE CLOUD CITY PHASE 2 MICOOL CONDO SHOWCASE AREA</p>

        <p> Site Area: 4,000sqm
        <br/>
        Location: Guangzhou, China
        <br/>
        Client: Guangzhou Vanke
        </p>
        <p>
            My role in this project includes project coordination, planting design and construction coordination.
            <br/>
            Vanke Cloud City MICOOL Condo is a pioneering mixed-use project with micro-unit condo towers and
            commercial businesses on the podium and street level. The project has two major challenges: young
            trendy owners and lower construction cost. We responded to those challenges through modular grid
            system, modular furniture system, interactive landscape elements and the hidden beauty of details.
            <br/>
            With the modular grid systematic design approach, we aim to promote the use of prefabricated concrete,
            which is still not popularized in China, and advocate for the conservation of over-exploited granite
            resources in the country.
            <br/>
            Under the joint efforts of the Client, our design is well executed. The showcase area is popular among
            visitors.
        </p>
    </li>
    <br/>
    <li>
        <p class="smallT">MIXED-USE DEVELOPMENT</p>
        <p class="bigT">WUHAN CHANGCHENGHUI</p>

        <p> Site Area: 22,000sqm
        <br/>
        Location: Wuhan, China
        <br/>
        Client: Great Wall Construction
        </p>
        <p>
            My role in this project includes project management and coordination, background research, concept
            development, planting design, design package preparation (from concept design, schematic design to
            detailed design), responses to comments, and landscape work cost estimate.
            <br/>
            The landscape design for Changchenghui Mixed-Use Development is influenced by the urban context of
            the site:
            <br/>
            - Incorporates multimedia technology and lighting elements which resemble the city character;
            <br/>
            - Allows a dialogue between urban development and green open spaces, providing a meaningful part of the
            city fabric;
            <br/>
            - Creates various activity rooms on the ex¬tension of the building terraces, responding to Wuhan’s
            contrasting climate and different user needs.
        </p>
    </li>
    <br/>
    <li>
        <p class="smallT">GARDEN EXPO</p>
        <p class="bigT">XINJIANG GARDEN IN 2017 ZHENGZHOU EXPO</p>

        <p>Site Area: 3,000sqm
        <br/>
        Location: Zhengzhou, China
        <br/>
        Client: Urumqi Landscape Bureau
        </p>
        <p>
            My role in this project includes project management and coordination, background research, concept
            development, planting design, design package preparation (from concept design to schematic design),
            and presentation video coordination.
            <br/>
            Garden Expos have been popular in China in recent years. Unfortunately, gardens are often aesthetically
            and creatively lacking: some are miniature models of the local landmarks; some are repeated,
            over-simplefied stereo¬types. We want to build a garden that makes a strong statement by abstracting
            regional, unique charactorastics, creating interactive and immersive landscapes, making picturesque views.
            <br/>
            We took Xinjiang music and dance as the theme of this garden and organized the visitors’ rhythm according
            to Uygur Muqam atmosphere.
            <br/>
            The dancing hall was inspired by vernacular architecture and expressed through modern design language.
            Landscape elements are also interactive and reflect the local culture.
        </p>
    </li>
    <br/>
    <li>
        <p class="smallT">ACADEMIC</p>
        <p class="bigT">PORTABLE LANDSCAPE FOR TEMPORARY OPEN SPACE IN DENSE DEVELOPED AREA OF HONG KONG</p>

        <p>Second Prize
        <br/>
        2009 Chinese Society of Landscape Architecture Student Competition
        <br/>
        Chinese Society of Landscape Architecture
        </p>
        <p>
            This is an individual project.
            <br/>
            Hong Kong, with a city image of concrete jungle, actually is mostly green. However, the country parks
            and development areas are separated, and the lack of recreational open space in the dense developed
            area leads to the poor living environment.
            <br/>
            This project studied the temporarily available sites in the dense developed areas and proposed to provide
            portable landscape elements and create open spaces to facilitate the existing and possible public programs
            and improve the living experiences.
        </p>
    </li>
</ul>

